html, body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: black;
	 background: rgba(183,222,237,1);
	background: -moz-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 29%, rgba(44,199,242,1) 61%, rgba(183,222,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(183,222,237,1)), color-stop(29%, rgba(113,206,239,1)), color-stop(61%, rgba(44,199,242,1)), color-stop(100%, rgba(183,222,237,1)));
	background: -webkit-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 29%, rgba(44,199,242,1) 61%, rgba(183,222,237,1) 100%);
	background: -o-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 29%, rgba(44,199,242,1) 61%, rgba(183,222,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 29%, rgba(44,199,242,1) 61%, rgba(183,222,237,1) 100%);
	background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 29%, rgba(44,199,242,1) 61%, rgba(183,222,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=0 );
}
.table > thead > tr > td {
  	background-color: #004080;
	color: #ffffff;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

.cmsNavBGColor {
	background-color: #074E77;
	color:#ffffff;
	border-color: #0c2fb2;
}

.shortContent {
	height: 410px;
}
.content {
	height: 500px;
}
.hide{
	display: none;
}
.show{
	display: block;
}
.align-center{
	text-align: center;
}


.wrapper{
	padding: 2cm; 
	box-shadow: 0 3px 3px 1px #000000; 
	background-color: white;
}
.h1{
	color: blue;
}
body .mce-fullscreen{
	margin-top: 2.5%;
}
.subtitle{
	font-size: 15px;
	text-align: center;
	font-weight: bold;
	/* margin-top: 2px; */
	margin: 0 auto 0;
	padding:10px;
	background-color: #0f5eaf;
	color:white; 
	box-shadow: 0 1px 1px 1px #000000; 
	/* border-bottom-left-radius: .5em;
	border-bottom-right-radius: .5em;
	border-top-left-radius: .5em;
	border-top-right-radius: .5em; */
	height: auto;
	width: 400px;
}
.headtitle{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #0f5eaf;
	padding: 10px;
	color: white;
	margin-bottom: 15px;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}
.cmsfooter{
	padding:40px;
	text-align: left;
	font-size: 15px;
	color: white;
	
}
/* UPLOADING GIF */
#myModal .modal-dialog {
  height: 80% !important;
  padding-top:10%;
}
#myModal .modal-content {
  height: 100% !important;
  overflow:visible;
}
#myModal .modal-body {
  height: 80%;
  overflow: auto;
}
#myModal .modal-backdrop
{
	/* opacity: 10 !important;
	filter: alpha(opacity=100) !important;
	background: #fff; */
    background-color:transparent;
}

