
input[type="text"], 
input[type="password"], 
textarea, 
textarea.form-control {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #f8f8f8;
    border: 2px solid #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #000000;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea, 
textarea.form-control {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
textarea.form-control:focus {
	outline: 0;
	background: #fff;
    border: 3px solid #000000;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, 
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #000000; }

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, 
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #000000; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #000000; }



button.btn {
	margin-top:15px;
	-moz-box-shadow: 0px 4px 0px 2px #1564ad;	
	-webkit-box-shadow: 0px 4px 0px 2px #1564ad;	
	box-shadow: 0px 4px 0px 2px #1564ad;	
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));	
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);	
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);	
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);	
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);	
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);	
	background-color:#79bbff;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;	
	border-radius:5px;	
	border:1px solid #337bc4;	
	display:inline-block;	
	cursor:pointer;
	color:#000000;	
	font-family:arial;	
	font-size:17px;
	font-weight:bold;	
	padding:5px 26px;	
	text-decoration:none;	
	text-shadow:0px 1px 0px #528ecc;
	text-align:center;
}

button.btn:hover { background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));	
	background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);	
	background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);	
	background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);	
	background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);	
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);	
	background-color:#378de5;; }

button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

button.btn:focus { outline: 0; opacity: 0.6; background: #4aaf51; color: #fff; }

button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #4aaf51; color: #fff; }
