
body {
/*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  background:#ffffff;
 background: rgba(183,222,237,1);
background: -moz-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 29%, rgba(44,199,242,1) 61%, rgba(183,222,237,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(183,222,237,1)), color-stop(29%, rgba(113,206,239,1)), color-stop(61%, rgba(44,199,242,1)), color-stop(100%, rgba(183,222,237,1)));
background: -webkit-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 29%, rgba(44,199,242,1) 61%, rgba(183,222,237,1) 100%);
background: -o-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 29%, rgba(44,199,242,1) 61%, rgba(183,222,237,1) 100%);
background: -ms-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 29%, rgba(44,199,242,1) 61%, rgba(183,222,237,1) 100%);
background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 29%, rgba(44,199,242,1) 61%, rgba(183,222,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=0 ); 
}

strong { font-weight: 500; }

@media (max-width:767px) 
{
	.mobile-only
{
	display:none !important;
	}
}

#header{
margin-top:-15px;
}


.copy-right p{
	text-align:center;
	font-size:18px;
	margin:0;
	color:#000000;
	font-style: trajan pro;
	font-weight:bold;
}
.copy-right p a{
	color:#B6A656;
}
.copy-right p a:hover{
	color:#000;
	font-weight:bold;
}
a, a:hover, a:focus {
	color: #4aaf51;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

#box
{
	background-color:#0080ff;
	overflow: hidden;
	width:1024px;
	padding: 0 15px 15px 25px;
/* 	background: transparent; */
	/*  background: -webkit-linear-gradient(#2ed8f7, blue); For Safari 5.1 to 6.0
    background: -o-linear-gradient(#2ed8f7, blue); For Opera 11.1 to 12.0
    background: -moz-linear-gradient(#2ed8f7, blue); For Firefox 3.6 to 15
    background: linear-gradient(#2ed8f7, blue); Standard syntax (must be last) */
	/* box-shadow: 0 3px 3px 1px #000000; */
	-moz-border-radius: 4px 4px 0 0;
	 -webkit-border-radius: 4px 4px 0 0;
	  border-radius: 4px 4px 0 0;
	border: 3px solid #171b97; */
	text-align: bottom;

}

h1 {
   margin-top: -30px;
  /*  margin-right:30x; */
    text-align:center;
	font-size: 20px;
    color: #ffffff;
   
	
}
 h2 {
	/* margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px; */
    margin-top: 10px;
  /*  margin-right:30x; */
    text-align:center;
	font-size: 20px;
    color: #ffffff;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img { max-width: 100%; }

::-moz-selection { background: #4aaf51; color: #fff; text-shadow: none; }
::selection { background: #4aaf51; color: #fff; text-shadow: none; }


.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 16px 20px 0 20px;
	background: #4aaf51;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/***** Top content *****/

.inner-bg {
    padding: 100px 0 170px 0;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box {
	margin-top: 105px;
}

.form-top { 
	
	overflow: hidden;
	padding: 0 25px 15px 25px;
	/* background: #0054a8; */
	background: #0054a8;
	margin-top:-80px;
	/*  background: -webkit-linear-gradient(#2ed8f7, blue); For Safari 5.1 to 6.0
    background: -o-linear-gradient(#2ed8f7, blue); For Opera 11.1 to 12.0
    background: -moz-linear-gradient(#2ed8f7, blue); For Firefox 3.6 to 15
    background: linear-gradient(#2ed8f7, blue); Standard syntax (must be last) */
	box-shadow: 0 3px 3px 1px #000000;
	/* -moz-border-radius: 4px 4px 0 0; 
	-webkit-border-radius: 4px 4px 0 0; 
	border-radius: 4px 4px 0 0; */ */
	border: 3px solid #acaef2;
	text-align: bottom;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 15px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #4aaf51;
}

.social-login {
	margin-top: 35px;
}

.social-login h3 {
	color: #fff;
}

.social-login-buttons {
	margin-top: 25px;
}


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
	
	.inner-bg { padding: 60px 0 110px 0; }

}

@media (max-width: 415px) {
	
	 h2 { font-size: 32px; }

}

@media screen and (max-width: 991px)
.top img, .top div {
    float: none;
    margin: auto;
}
.top img {
    float: left;
    vertical-align: bottom;
}
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
}

