/* 
Custom CSS for...

All Start Bootstrap themes are licensed under Apache 2.0. 
For more info and more free Bootstrap 3 HTML themes, visit http://startbootstrap.com!
*/

/* Global Styles */

/* adding background-color of the website */
html {
	height: 100%;	
}

body{
	
	background-image:url("../image/bkdgheader.png");
	background-repeat:repeat;
	font-family: "Arial";
	font-size: 13px;
	
}

p {
  margin-left:10px;
	margin-right: 10px;	
  padding: 5px;
  font-size: 13px;
  text-align: auto;
}
 ul li {     
         
          font-size: 13px;
 }
  ul li img {
         list-style: none;
      } 

.content_section{
	/* background-color: white; */
	/* background-image:url("../image/content.png"); */
	/*  background-repeat:repeat */
		background-image:url("../image/BACKGROUND.png"); 
		background-repeat:no-repeat;
		background-size: 100% 100%;
	
}
/* background of search and time */
.searchDate{
	background-color: white;	
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom: 2%;
	color:#000000;
	font-size: 18px;
}
/*end background of search and time */

/* navigation Bar */
.navbar-inverse {
  background-color: #0159fe;

}
/* start changing the font-color of text in navigation-bar */
.navbar-inverse .navbar-nav > li > a {
	font-family: "Arial";
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 5px;
    padding-right: 35px;
    padding-left: 35px;
}
/* end changing the font-color of text in navigation-bar */

/* start changing the hover and pointed mouse design of text and background of navigation bar */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #000000;
  background-color: white;
}
/* end changing the hover and pointed mouse design of text and background of navigation bar */
/* end navigation Bar */



/* changing the font-color and background design of the content container (ex.frame beside the side bar) */
.contentContainer {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 5px;
	height: 900px;
	width: 100%;
	 border: 1px solid #00ffff; 
	box-shadow: 2px -3px 5px -2px black;
	overflow-y: auto;
	overflow-x : auto;
	
}

.contentContainer iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
}
/* end of changing the font-color and background design of the content container (ex.frame beside the side bar) */

.img-home-portfolio, .img-customer, .portfolio-item {
	margin-bottom: 30px;
}

.tab-pane {
	margin-top: 15px;
}

/* changing the background of center content */
.section {
	padding: 10px 0;
	background-color:transparent;
	/* border: 2px solid #b3b8ba; */
}
/*end changing the background of center content */

/* background of slider */
.slider-color {
	padding: 10px 0;
	background-color: #e1e1e1;
	-webkit-box-shadow: 0px 3px 11px 10px rgba(168,163,168,1);
	-moz-box-shadow: 0px 3px 11px 10px rgba(168,163,168,1);
	box-shadow: 0px 3px 11px 10px rgba(168,163,168,1);	
}
/*end background of slider */

.sidebar {
	margin-top: 40px;
}

.sidebar ul {
	border-radius: 5px;
	padding: 5px;
	border: 1px solid #cccccc;
}


/* Half Page Height Carousel Customization */
.carousel {
	height: 50%;
}
/* unvisited link */
a:link {
	color: #000000;
	font-size: 13px;	
	
}

/* visited link */
a:visited {
	color: #000000;
}

/* mouse over link */
a:hover {
	color: #1c8bf2;
	text-decoration: none;
}

/* selected link */
a:active {
	color: #0000FF;
}
a.side:link {
	color: #000000;
	font-size: 13px;	
}

/* visited link */
a.side:visited {
	color: #000000;
	
}

/* mouse over link */
a.side:hover {
	color: #ffffff;
	text-decoration: none;
	
}

/* selected link */
a.side:active {
	color: #0000FF;
}

.hoverTable {
	width: 100%;
	border-collapse: collapse;
	background-color: transparent;
}
.hoverTable td {
	padding: 8px;
}
/* Define the default color for all the table rows */
.hoverTable tr {
	background: transparent;
}
/* Define the hover highlight color for the table row */
.hoverTable tr:hover {
	background-color: #243f71;
	color: black;
}

Generic Styling, for Desktops /Laptops 
* /
.contentTable table {
	width: 100%;
	border-collapse: collapse;
	background-color: transparent;
}
/* Zebra striping */
 .contentTable tr:nth-of-type(odd) {
	background: #c0c0c0;
}
 
.contentTable th {
	background: #333;
	color: black;
	font-weight: bold;
}

.contentTable td, th {
	padding: 8px;
	border: 1px solid #ccc;
	text-align: left;
}

/*for side bar scroll*/
div.scroll {
	background-color: white;
	width: 100%;
	height: 860px;
	overflow-y: auto;
	overflow-x: hidden;
}

.contentside{
	background-color: #0080c0;
	border: 1px solid #b3b8ba;
	/* Zebra striping */
/* .contentTable tr:nth-of-type(odd) {
	background: #eee;*/
}

/* changing the font-color and background design of the sidebar inside content */
.intro-text {
	-webkit-box-shadow: 0 5px 4px -3px black;
	-moz-box-shadow: 0 5px 4px -3px black;
	box-shadow: 0 5px 4px -3px black;
	font-size: 15px;
	font-weight: bold;
 	 background: #074E77;
	border: 2px solid #fff;
	height: auto;
	margin: 0 auto 0;
	padding: 8px;
	text-align: center;
	color: #FFF;
}

/* changing the font-color and background design of the main title of homepage */
.intro-title {
	-webkit-box-shadow: 0 5px 4px -3px black;
	-moz-box-shadow: 0 5px 4px -3px black;
	box-shadow: 0 5px 4px -3px black;
	font-size: 15px;
	font-weight: bold;
	/* background: #074E77; */
	background-image:url("../image/bkdgheader.png");
	/* background-repeat:repeat; */
	border: 2px solid #fff;
	height: auto;
	margin: 0 auto 0;
	padding: 8px;
	text-align: center;
	color: #FFF;
} 
/* end changing the font-color and background design of the main title of each content */

.item, .active, .carousel-inner {
	height: 100%;
}

/* Footer Styles */
.footer {
	padding: 15px 0;
	/* background-color: #0000ff; */
	background-image:url("../image/B1.jpg");
   /* background-repeat:repeat; */
   background-size: 100% 100%;
	font-size: 18px;
	color: black;
}

/* Responsive Styles */
@media ( max-width : 767px) {
	.carousel {
		height: 70%;
		/* increases the carousel height so it looks good on phones */
	}
}

.embed-responsive {
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
}

.embed-responsive .embed-responsive-item, .embed-responsive iframe,
	.embed-responsive embed, .embed-responsive object, .embed-responsive video
	{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.embed-responsive-16by9 {
	padding-bottom: 56.25%;
}

.embed-responsive-4by3 {
	padding-bottom: 75%;
}

#wrapper_content{
	margin-right: 30px;
}

	  /* ul { 
         padding:0 0 0 0;
          margin:5px;
          font-size:15px; 
      }
      ul li {     
          
                   
      }
     */
      .modal-body {
          padding:5px !important;
      }
      .modal-content {
          border-radius:0;
      }
      .modal-dialog img {
          text-align:center;
          margin:0 auto;
      }
    .controls{          
        width:50px;
        display:block;
        font-size:11px;
        padding-top:8px;
        font-weight:bold;          
    }
    .next {
        float:right;
        text-align:right;
    }
      /*override modal for demo only*/
      .modal-dialog {
          max-width:500px;
          padding-top: 90px;
      }
      @media screen and (min-width: 768px){
          .modal-dialog {
              width:500px;
              padding-top: 90px;
          }          
      }
      @media screen and (max-width:1500px){
          #ads {
              display:none;
          }
      }


ul.a {
    list-style-type: circle;
}
/* selected link */

a.home:link {
	color: black;
	
}

/* visited link */
a.home:visited {
	color: black;
}

/* mouse over link */
a.home:hover {
	color: #0080ff;
	text-decoration: none;
}

/* selected link */
a.home:active {
	color: #0000FF;
}
.alink{
	font-size: 20px;
	margin: .2px;
	

	}
.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;

}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}
      
 .BFARHeader{
	position:relative;	
	top: 0px;
}
@media (max-width: 1200px) {
  .BFARHeader{
    position:relative;
	top:0px;
  }
}
@media (max-width: 1138px) {
.BFARHeader{
	position:relative;	
	top: 0px;
}
@media (max-width: 767px) {
  .BFARHeader{
    position:relative;
	top:0px;
  }
}
.btn-xs {
  padding: 1px 2px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.blink {
    -webkit-animation: blink .75s linear infinite;
    -moz-animation: blink .75s linear infinite;
    -ms-animation: blink .75s linear infinite;
    -o-animation: blink .75s linear infinite;
    animation: blink .75s linear infinite;
}

